# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

.env
.supabase/auth-trigger.sql
supabase/migration-consulta.sql
supabase/migration-factura-fk.sql
supabase/realtime.sql
supabase/rls-admin.sql
supabase/rls-medico.sql
supabase/schema.sql
supabase/seed.sql
supabase/views.sql

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
